<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
	<title>The Baking Room</title>
	<link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="css/animat/animate.min.css" />
	<link rel="stylesheet" href="css/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="css/nivo-lightbox/nivo-lightbox.css" />
	<link rel="stylesheet" href="css/themes/default/default.css" />
	<link rel="stylesheet" href="css/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="css/owl-carousel/owl.theme.css" />
	<link rel="stylesheet" href="css/owl-carousel/owl.transitions.css">
	

	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/responsive.css" />
	<style>
	*, *:before, *:after {
			box-sizing: inherit;
			}

			.u-clearfix:before,
			.u-clearfix:after {
			content: " ";
			display: table;
			}

			.u-clearfix:after {
			clear: both;
			}

			.u-clearfix {
			*zoom: 1;
			}

      .wrapper {
      height: 420px;
      width: 654px;
      margin: 50px auto;
      border-radius: 7px 7px 7px 7px;
      -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
    }

    .product-img {
      float: left;
      height: 420px;
      width: 327px;
    }

    .product-img img {
      border-radius: 7px 0 0 7px;
    }

    .product-info {
      float: left;
      height: 420px;
      width: 327px;
      border-radius: 0 7px 10px 7px;
      background-color: #ffffff;
    }

    .product-text {
      height: 300px;
      width: 327px;
    }

    .product-text h1 {
      margin: 0 0 0 38px;
      padding-top: 52px;
      font-size: 34px;
      color: #474747;
    }

    .product-text h1,
    .product-price-btn p {
      font-family: 'Bentham', serif;
    }

    .product-text h2 {
      margin: 0 0 47px 38px;
      font-size: 13px;
      font-family: 'Raleway', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      color: #d2d2d2;
      letter-spacing: 0.2em;
    }

    .product-text p {
      height: 125px;
      margin: 0 0 0 38px;
      font-family: 'Playfair Display', serif;
      color: #8d8d8d;
      line-height: 1.7em;
      font-size: 15px;
      font-weight: lighter;
      overflow: hidden;
    }

    .product-price-btn {
      height: 103px;
      width: 327px;
      margin-top: 17px;
      position: relative;
    }

    .product-price-btn p {
      display: inline-block;
      position: absolute;
      top: -13px;
      height: 50px;
      font-family: 'Trocchi', serif;
      margin: 0 0 0 38px;
      font-size: 28px;
      font-weight: lighter;
      color: #474747;
    }

    span {
      display: inline-block;
      height: 50px;
      font-family: 'Suranna', serif;
      font-size: 34px;
    }

    .product-price-btn button {
      float: right;
      display: inline-block;
      height: 50px;
      width: 176px;
      margin: 0 40px 0 16px;
      box-sizing: border-box;
      border: transparent;
      border-radius: 60px;
      font-family: 'Raleway', sans-serif;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      color: #ffffff;
      background-color: #9cebd5;
      cursor: pointer;
      outline: none;
    }

    .product-price-btn button:hover {
      background-color: #79b0a1;
    }
	</style>
	<script>
	window.onload = function(){
			document.querySelector('.cont_modal').className = "cont_modal";
			}
			var c = 0;
			function open_close(){
			  if(c % 2 == 0){
			document.querySelector('.cont_modal').className = "cont_modal cont_modal_active";
			c++;
			  }else {
			document.querySelector('.cont_modal').className = "cont_modal";
			c++;
			  }
			}
	</script>
</head>

<body>

	<div class='preloader'><div class='loaded'>&nbsp;</div></div>
	<header id="home" class="header">
		<div class="main_menu_bg navbar-fixed-top wow slideInDown" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="nave_menu">
					<nav class="navbar navbar-default">
					  <div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>

						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-left">
								<li><a href="/"><h5>The Baking Room</h5></a></li>
							<li class="active"><a href="/ecomm">Home</a></li>
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/pasteries">Pasteries</a></li>
                  <li><a href="/cakes">Cakes</a></li>
                  <li><a href="/choc">Chocolates</a></li>
                </ul>
              </li>
							<li><a href="https://thebakingroom-188121.firebaseapp.com" target="_blank">Live Chat</a></li>
              <li><a href="/recipies">Recipies</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="/cartt">
                  <span style="float:left;"><p id="number">0</p></span>
                  <img src="images/cart.png" style="height:20px; width:30p;"></img>
                </a>
              </li>
              <% if ( user ) { %>
							<li><a href="#">Hello <%= user %></a></li>
							<li><a href="/logout">Logout</a></li>
							<% } else { %>
							<li><a href="/login">Login</a></li>
							<li><a href="/register">SignUp</a></li>
							<% } %>
						  </ul>
						</div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
					</div>
				</div><!--End of row -->

			</div><!--End of container -->

		</div>
	</header> <!--End of header -->

	<section id="order_online" class="features sections" style="height:400px; background: url(images/cakes_bg.png) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;">

	</section><!-- End of Abouts Section -->
	<div>
    <div class="card-container" style="float:left; margin-left: 70px;">
	  <div class="card u-clearfix">
    <div class="wrapper">
    <div class="product-img">
      <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Harvest Vase</h1>
        <h2>by studio and friends</h2>
        <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
      </div>
      <div class="product-price-btn">
        <p><span>78</span>$</p>
        <button type="button">buy now</button>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="card-container" style="float:left; margin-left: 70px;">
  <div class="card u-clearfix">
  <div class="wrapper">
    <div class="product-img">
      <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Harvest Vase</h1>
        <h2>by studio and friends</h2>
        <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
      </div>
      <div class="product-price-btn">
        <p><span>78</span>$</p>
        <button type="button">buy now</button>
      </div>
    </div>
  </div>
</div>
</div>

</div>
<div>
  <div class="card-container" style="float:left; margin-left: 70px;">
  <div class="card u-clearfix">
  <div class="wrapper">
    <div class="product-img">
      <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Harvest Vase</h1>
        <h2>by studio and friends</h2>
        <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
      </div>
      <div class="product-price-btn">
        <p><span>78</span>$</p>
        <button type="button">buy now</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="card-container" style="float:left; margin-left: 70px;">
<div class="card u-clearfix">
  <div class="wrapper">
      <div class="product-img">
        <img src="http://bit.ly/2tMBBTd" height="420" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>Harvest Vase</h1>
          <h2>by studio and friends</h2>
          <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
        </div>
        <div class="product-price-btn">
          <p><span>78</span>$</p>
          <button type="button">buy now</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div>
  <div class="card-container" style="float:left; margin-left: 70px;">
  <div class="card u-clearfix">
  <div class="wrapper">
    <div class="product-img">
      <img src="http://bit.ly/2tMBBTd" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1>Harvest Vase</h1>
        <h2>by studio and friends</h2>
        <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
      </div>
      <div class="product-price-btn">
        <p><span>78</span>$</p>
        <button type="button">buy now</button>
      </div>
    </div>
  </div>
</div>
</div>
<div class="card-container" style="float:left; margin-left: 70px;">
<div class="card u-clearfix">
  <div class="wrapper">
      <div class="product-img">
        <img src="http://bit.ly/2tMBBTd" height="420" width="327">
      </div>
      <div class="product-info">
        <div class="product-text">
          <h1>Harvest Vase</h1>
          <h2>by studio and friends</h2>
          <p>Harvest Vases are a reinterpretation<br> of peeled fruits and vegetables as<br> functional objects. The surfaces<br> appear to be sliced and pulled aside,<br> allowing room for growth. </p>
        </div>
        <div class="product-price-btn">
          <p><span>78</span>$</p>
          <button type="button">buy now</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<!-- STRAT SCROLL TO TOP -->

<hr>
	<footer id="footer" class="footer" style="margin-top:1580px;">
		<div class="container">
			<div class="row">

				<div class="col-sm-5 col-sm-offset-8 col-xs-10 col-xs-offset-2">
					<div class="contact_area wow slideInLeft" data-wow-duration="2s">
						<div class="head_title text-center">
							<h2>Contact</h2>
							<div class="separetor"></div>
						</div>

						<div class="main_contact_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5>The Baking Room</h5>
										<span><h6>In the middle of Nowehere,</h6></span>
										<span><h6>Yet at the centre of your heart</h6></span>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5>Reservations</h5>
										<span><h6>res@thebakingroom.com</h6></span>
										<span><h6>+91 9999999999</h6></span>
									</div>
								</div>
							</div>

							<div class="sinle_features wow slideInUp" data-wow-duration="2s">
								<div class="form_btn_area text-center">
									<a href="https://thebakingroom-188121.firebaseapp.com/" class="btn" target="_blank">Join the live Chat!</a>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>


			<div class="row">
				<div class="copyright_text_area">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right wow zoomIn" data-wow-duration="2s">
							<p>Made with <i class="fa fa-heart"></i> by The Baking Room. All Rights Reserved</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right">

							<div class="footer_socail wow zoomIn" data-wow-duration="1.5s">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

<div class="scrollup">
	<a href="#"><i class="fa fa-chevron-up"></i></a>
</div>

<script type="text/javascript" src="js/jquery/jquery.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="js/nivo-lightbox/nivo-lightbox.min.js"></script>
	<script type="text/javascript" src="js/owl-carousel/owl.carousel.min.js"></script>
	<script type="text/javascript" src="js/jquery-easing/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/wow/wow.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
