<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <!-- CORE CSS-->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">

<style type="text/css">
html,
body {
    height: 100%;
	background: url(images/r.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
.margin {
  margin: 0 !important;
}
</style>
  
</head>

<body>
<% for(var i in messages) { %>
    <div class="flash"><%= messages[i] %></div>
    <% } %>

  <div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login-form" action="/register" method="post">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="images/picture1.png" style="width=25%;" alt="" class="responsive-img valign profile-image-login">
            <p class="center login-form-text">Patisserie and more!</p>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
             <input id="username" name="username" type="text" class="validate" placeholder="Username" onblur="this.placeholder = 'Username'" />
            <label for="username" class="center-align" placeholder="Username"></label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input id="name" name="name" type="text" class="validate" placeholder="Name" onblur="this.placeholder = 'Name'">
            <label for="name" class="center-align" placeholder="Name"></label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-communication-email prefix"></i>
            <input id="email" name="email" type="email" placeholder="Email" class="validate" onblur="this.placeholder = 'Email'">
            <label for="email"></label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" name="password" type="password" placeholder="Password" onblur="this.placeholder = 'Password'">
            <label for="password" placeholder="Password"></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
			<button class="btn waves-effect waves-light col s12" type="submit">Register</button>
          </div>
          <div class="input-field col s12">
            <p class="margin center medium-small sign-up">Already have an account? <a href="login.html">Login</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>


  
</body>

</html>